/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-bootstrap-blocks-row {
	&.alignfull > .row {
		margin-left: 0;
		margin-right: 0;
	}

	> .row :not(.no-gutters) > div {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}
