node_modules
vendor
build/*
!build/index.js
!build/index.asset.php
!build/index.css
!build/style-index.css
!build/settings.asset.php
!build/settings.css
composer.phar
/release
cypress/videos
cypress/screenshots
.DS_Store
