<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="default">
			<directory suffix="-test.php">./phpunit/</directory>
		</testsuite>
	</testsuites>
	<php>
		<env name="WP_BOOTSTRAP_BLOCKS_RECORD" value="false" />
		<env name="WP_TESTS_DIR" value="./phpunit" />
		<env name="WP_PHPUNIT__TESTS_CONFIG" value="/wordpress-phpunit/wp-tests-config.php" />
	</php>
</phpunit>
