@import "../assets/gutenberg/gutenberg";

[data-type="bootstrap-blocks/column"] {
	$grid-columns: 12;
	width: 100%;

	@include break-small() {
		@for $i from 1 through $grid-columns {
			&[data-size-md="#{$i}"] {
				width: percentage(($i / $grid-columns));
			}
		}
		&[data-size-md="0"] {
			flex: 1;
		}
	}
}
