// Column block
[data-type="wp-bootstrap-blocks/column"] {
	// Add margin to make rows more easily clickable
	margin: 5rem 0;

	// Add padding to make columns more easily clickable
	> .editor-block-list__block-edit::before {
		padding-top: 5rem;
		padding-bottom: 5rem;
		background: white;
	}
}
