@import "../assets/gutenberg";

[data-type="wp-bootstrap-blocks/accordion"] {
	padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

.wp-block-wp-bootstrap-blocks-accordion {
	.block-editor-block-list__block,
	.block-editor-block-list__layout {
		.block-list-appender {
			position: relative;
		}
	}
}
