@import "../assets/gutenberg/gutenberg";

[data-type="wp-bootstrap-blocks/button"] {
	&[data-alignment="center"] {
		text-align: center;
	}

	&[data-alignment="right"] {
		text-align: right;
	}
}

.wp-block-wp-bootstrap-blocks-button {
	display: inline-block;
	padding: 8px 16px;
	background-color: $blue-wordpress-700;
	color: $white;
}

// Source: https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/button/editor.scss
.wp-block-wp-bootstrap-blocks-button-link {
	background: $white;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: $default-font;
	font-size: $default-font-size;
	line-height: $default-line-height;

	// The width of input box plus padding plus two icon buttons.
	$blocks-button__link-input-width: 300px + 2px + 2 * $icon-button-size;
	width: $blocks-button__link-input-width;

	.editor-url-input {
		width: auto;
	}

	.editor-url-input__suggestions {
		width: $blocks-button__link-input-width - $icon-button-size - $icon-button-size;
		z-index: z-index(".block-library-button__inline-link .editor-url-input__suggestions");
	}

	> .dashicon {
		width: $icon-button-size;
	}

	.dashicon {
		color: $dark-gray-100;
	}

	.editor-url-input input[type="text"]::placeholder {
		color: $dark-gray-100;
	}
}
